/*********************************************************************************************************************************/
/*********************************************************************************************************************************/

/** HERANÇA E ESPECIFICIDADE **/

body {
	color: orange;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
}

#pagina p {
	color: darkred !important;
}

#pagina p {
	color: blue;
}